[Bb]uild/
[Ll]ibrary/
[Ll]ogs/
[Tt]emp/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Uu]ser[Ss]ettings/[Ll]ayouts
[Bb]uilds

.vs/
.vscode/
.idea/

sysinfo.txt
*.pidb.meta

[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
